/**
 * Global color variables
 * 
 * When changing these, make sure they work fine for the
 * "Light" and "Navy" themes as those are the default color schemes.
 */

:root {
  /* Element-related colors */
  --color-sol: #c8a800;
  --color-luna: #c0a8f0;
  --color-dark: #981010;
  --color-flame: #c03818;
  --color-frost: #6068d8;
  --color-earth: #58c050;
  --color-cloud: #c048e0;
}
