/* Elements-related colors */
.c-sol {
    color: #c8a800;
}

.c-luna {
    color: #c0a8f0;
}

.c-dark {
    color: #981010;
}

.c-fire {
    color: #c03818;
}

.c-frost {
    color: #6068d8;
}

.c-earth {
    color: #58c050;
}

.c-cloud {
    color: #c048e0;
}