/**
 * Miscellaneous CSS customizations
 *
 * Use only when no other CSS file applies.
 */

/* reduces the inline html needed for video embeds */
iframe {
  width: 97%;
  border: none;
  display: block;
  margin: auto;
  border-radius: 2px;
}

.center {
  max-width: 90% !important;
  display: block;
  margin: auto;
}

img {
  border-radius: 2px;
}

/* Target only images with "icon" in their alt text*/
img[alt*="icon"] {
  image-rendering: pixelated;
  vertical-align: middle;
}
